doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    .full-wrapper
      block header 
        .header-container 
          .header-subgroup.flexable
            if currentUser&&currentUser.isAdmin
              .header-link You are an admin
            else 
              a(href='/become-admin').header-link Become admin

            if currentUser&&currentUser.membershipStatus
              .header-link You are a member
            else 
              a(href='/become-member').header-link Become member

          if currentUser
            .header-subgroup 
              a(href='/message/create').header-link Create a message!
          .header-subgroup.flexable.end
            if currentUser
              a(href=currentUser.url).header-link #{currentUser.username} 
              a(href='/log-out').header-link Log out
            else
              a(href="/user/create").header-link Sign up
              a(href='/log-in').header-link Log in 
      block content
