extends layout 

block content 
    form(method='POST' action='')
        label(for='username') Username:
        input(name='username', type='text')

        label(for='password') Password: 
        input(name='password', type='password')

        button(type='submit') Log in 