:root {
  --link-blue : #3E9EF8;
  --main-background-gray : #E9E9E9;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding : 0px;
  margin : 0px;
}

a {
  color: var(--link-blue);
}

.vertical-form {
  display : flex;
  flex-direction : column;
  align-items : center;
  gap : 10px;
}

.form-inputs {
  display : flex;
  flex-direction : column;
  align-items : flex-end;
  gap : 10px;
}

.title {
  text-align : center;
}

.header-container {
  background-color : white;
  padding : 20px;
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.header-subgroup {
    display : flex;
    gap : 1rem;
}

.header-link {
  text-decoration: none;
  color : var(--link-blue);
}

.home-main-container {
  background-color : var(--main-background-gray);
  flex : 1 1 100%;
}

.full-wrapper {
  height : 100vh;
  display : flex;
  flex-direction : column;
  
}

.input-group {
  display : flex;
  gap : 3px;
  align-items: center;
}

.messages-container {
  margin-top : 15px;
  gap : 5px;
  display : flex;
  flex-direction : column;
  align-items: center;
}

.message-card {
  padding : 20px;
  width : 200px;
  background-color : white;
}

.message-title {
  font-size : 1.2rem;
  text-align : center;
}

.message-text {
  font-size : 0.8rem;
  text-align:center;
}